*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $lightColor;
  font-family: $font-one;
  background: $darkColor;
  text-align: center;
  margin: 0 auto;
}

#pages {
  text-align: center;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}

.footer p {
  margin: 0;
  font-size: 20px;
  font-family: $font-three;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 27px;
}

