//TASTE
h1 {
  text-transform: uppercase;
  font-size: 200px;
  letter-spacing: 120px;
}

//ENGAGE IN ART
h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 11px;
  line-height: 72px;
}

// SUBSCRIBE NOW and Sean Henson
h3 {
  text-align: center;
  font-size: 100px;
  letter-spacing: 20px;
  margin: 0;
}

// NEW ALBUM
h4 {
  font-size: 40px;
  letter-spacing: 8px;
  text-align: right;
  font-weight: 700;
}


// title on page
title {
  display: block;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 12px;
  color: $secondaryColor;
  font-family: $font-four;

}

//title of the song and artist name
h5 {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 27px;
  font-family: $font-four;
  font-weight: 600;
}

// text under song
h6 {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 27px;
  color: $secondaryColor;
  font-family: $font-three;
}